.input-container {
  text-align: center;
  color: #fff;
  line-height: 2.5rem;
  margin-bottom: 130px;
  font-family: 'GmarketSansMedium';
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

q {
  display: inline-block;
  width: 100%;
}

.quote-title {
  font-family: 'OTEnjoystoriesBA';
  font-size: 2.25rem;
  color: #f5df4d;
  margin-top: 46px;
  font-weight: 700;
}

.quote-desc {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 50px;
  background-image: url('../../Assets/Images/quotes.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 25px;
  max-width: 493px;
}

.quote-desc strong {
  font-size: 1.5rem;
  font-weight: 700;
}

.input-form {
  margin-top: 102px;
  font-size: 1.5rem;
}

.input-form p:first-child {
  margin-bottom: 27px;
}

.input-form p:last-child {
  margin-top: 115px;
  position: relative;
}

.input-form p:last-child::after {
  content: '';
  display: inline-block;
  width: 64px;
  height: 72px;
  background: url('../../Assets/Images/click.png') no-repeat;
  transform: translateX(8px) translateY(25px);
  background-size: cover;
  position: absolute;
}

.input-form input {
  border-radius: 7px;
  width: 100%;
  max-width: 200px;
  margin: 0 17px;
  font-size: 1.5rem;
  padding: 15px 20px;
}

.input-form input::placeholder {
  font-family: 'GmarketSansMedium';
  color: #babcbe;
}

@media (max-width: 768px) {
  .input-form p:nth-child(2) span:first-child {
    display: block;
    margin-bottom: 27px;
  }
}

@media (389px < width < 610px) {
  .input-form button {
    border-radius: 13px;
    width: 243px;
  }
  .input-form p:last-child::after {
    width: 40px;
    height: 42px;
    transform: translateX(8px) translateY(45px);
  }
  .input-form p:last-child {
    margin-top: 50px;
  }

  .input-form input {
    width: 100px;
    padding: 10px 20px;
  }

  .input-container {
    margin-bottom: 90px;
  }
  .quote-title {
    margin-top: 30px;
  }

  .quote-desc,
  .input-form {
    margin-top: 50px;
  }

  .input-form p:first-child {
    margin-bottom: 16px;
  }

  .input-form p:nth-child(2) span:first-child {
    margin-bottom: 16px;
  }
}
