.output-display {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  font-family: 'GmarketSansMedium';
  padding-bottom: 100px;
}

.output-display div {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 400;
}

.output-display div strong {
  font-size: 4.5rem;
  font-weight: 700;
}

.btn-cont {
  padding-top: 130px;
  display: flex;
  gap: 18px;
}

@media (389px < width < 610px) {
  .output-display div {
    gap: 10px;
  }
  .output-display div strong {
    font-size: 3.5rem;
  }
  .btn-cont {
    padding-top: 70px;
  }

  .btn-cont button {
    padding: 15px 35px;
  }
}
