.loading {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 auto 130px;
}

.loading img {
  width: 100%;
  animation: rotate 1.1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
