img {
  max-width: 100%;
  vertical-align: top;
  object-fit: cover;
}

.footer {
  color: #fff;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  transform: translateY(-20%);
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
}

.footer p {
  font-size: 12px;
  font-family: 'Noto Sans KR';
  text-align: center;
  line-height: 17px;
}
