img {
  max-width: 100%;
  vertical-align: top;
  object-fit: cover;
}

.footer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  transform: translateY(-30%);
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
}

.footer p {
  font-size: 0.75rem;
  font-family: 'Noto Sans KR';
  text-align: center;
  line-height: 1.0625rem;
}

@media (389px < width < 610px) {
  .footer img {
    width: 91px;
  }
}
